<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ErrorMail" value="ishan.p@xontworld.com" />
    <add key="ErrorMailFrom" value="ishan.p@xontworld.com" />
    <add key="SMTP" value="mail@xontworld.com" />
    <add key="Path" value="" />
    <add key="ClientDateFormat" value="dd/MM/yyyy" />
    <add key="TextFilePath" value="D:\Rework\VENTURA\REF_COMPONENTS" />
    <add key="VRTRN18_SystemID" value="JDE" />
    <add key="SOMNT24_SystemID" value="JDE" />
    <add key="PDFPath" value="D:\Rework\VENTURA\REF_COMPONENTS" />
    <add key="PDFURL" value="http://192.168.1.33:9001/VenturaSNWA_QC/PDF" />
    <add key="FromMail" value="crmnotifications@xontworld.com" />
    <add key="FromMailPassword" value="KeSp7tHetrAf" />
  </appSettings>
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaUserGWRX_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaSystemGWRX_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaUserCOMMON_V2;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaSystemGWRX_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHSCJ_DEV;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHSCJ_DEV;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaSystemHSCJ_DEV;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
 </connectionStrings>-->
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV3_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaSystemV3_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV2_TEST;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="ReportDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV2_TEST;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHELL_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="UserDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=XONTActuraUserA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Command Timeout=30" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=XONTVenturaSystemA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Command Timeout=30" providerName="System.Data.SqlClient" />
    <add name="SAPDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=XONTActuraUserA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Command Timeout=30" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=XONTActuraUserA;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Command Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=Chamod;Initial Catalog=XONTVenturaUserSNWA_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=Chamod;Initial Catalog=XONTVenturaSystemSNWA_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    -->
  <!--<add name="StaticDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="ReportDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV2_TEST;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHELL_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>-->
  <!--
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>