IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RD].[usp_SOMNT24UpdateReturnType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [RD].[usp_SOMNT24UpdateReturnType]
GO

-- =============================================
-- Author		:	Chamika Nandathilaka
-- Create date	:	20181226
-- Description	:	Update and Insert ReturnType
-- Version		:	3.0.0.0
-- =============================================

CREATE PROCEDURE [RD].[usp_SOMNT24UpdateReturnType]

@BusinessUnit char(4)='',
@ModuleCode char(2)='',
@ReturnType  char(2)='',
@Description varchar(40)='',
@ReturnCategory char(2)='',
@ProcessingRequired char(1)='',
@CreatedBy varchar(40)='',
@LastUpdatedBy varchar(40)='',
@Status  char(1)='',
@TimeStamp timestamp=0,
@ExecutionType char(1)='',
@ReturnDeductionType char(1)='',
@ValidateReturnValue char(1)=''

AS
IF @ExecutionType='1'
BEGIN
	INSERT INTO [RD].[ReturnType]
           ([BusinessUnit]
           ,[ModuleCode]
           ,[ReturnType]
           ,[Description]
           ,[ReturnCategory]
           ,[ProcessingRequired]
           ,[Status]
           ,[CreatedOn]
           ,[CreatedBy]
           ,[LastUpdatedOn]
           ,[LastUpdatedBy]
           ,[ReturnDeductionType]
           ,[ValidateReturnValue])
       VALUES (
			@BusinessUnit ,
			@ModuleCode ,
			@ReturnType ,
			@Description ,
			@ReturnCategory,
			@ProcessingRequired ,
			@Status ,
			getdate(),
			@CreatedBy,
			getdate(),
			@LastUpdatedBy,
			@ReturnDeductionType,
			@ValidateReturnValue)




END

IF @ExecutionType='2'
BEGIN
   UPDATE [RD].[ReturnType]
   SET [BusinessUnit] = @BusinessUnit 
      ,[Description] =	@Description 
      ,[ReturnCategory]= @ReturnCategory
      ,[ProcessingRequired]=@ProcessingRequired 
      ,[Status] =		@Status      
      ,[LastUpdatedOn] =getdate() 
      ,[LastUpdatedBy] =@LastUpdatedBy
      ,[ReturnDeductionType] = @ReturnDeductionType 
      ,[ValidateReturnValue]=@ValidateReturnValue
 WHERE 
          [BusinessUnit]=@BusinessUnit AND   [ModuleCode] =	@ModuleCode AND [ReturnType] =	@ReturnType 
		  AND [TimeStamp]=@TimeStamp

END
